body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
    color: #383838;
    background-color: #f7f3f0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 72px;
    line-height: 1.146em;
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 48px;
    line-height: 1.146em;
    text-transform: uppercase;
}

.btn {
    border-radius: 0;
}

.btn-main {
    background-color: #c74817;
    color: #FFF;
}

.btn-main:hover {
    background-color: #b73604;
    color: #FFF;
}
